[Unit]
Description=File Watcher Instance %i

[Service]
Type=simple
ExecStart=/usr/local/bin/filewatcher.sh %i
KillMode=control-group
TimeoutStopSec=8
KillSignal=SIGTERM
FinalKillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
